body {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: #1d2b3a;
    position: relative;
}

@font-face {
    font-family: Hedvig_Letters_Serif;
    src: url(fonts/Hedvig_Letters_Serif/HedvigLettersSerif-Regular-VariableFont_opsz.ttf);

    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

.main-container {
    display: flex;
}

.side-bar {
    position: relative;
}

#background {
    max-width: 100%;
    width: 41vw;
    height: 100vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.7);
    top: 100px;
    gap: 10px;
}


#logo {
    width: 14vh;
}


h1 {
    color: white;
    font-size: 12vh;
    font-family: norse-bold;
    margin: 0%;
  }


 /* @media (max-width: 600px) {
    h1 {
        font-size: 5rem;
    }
}